In [18]:
import pandas as pd

In [19]:
df=pd.read_excel("page2.xlsx",header=None)

In [20]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,78,Jombay NC,CE & IT (UG),1.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,1,0,1 10.00,21/04/21,10.0
1,79,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1,2,3 6.00,22/04/21,18.0
2,80,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,NaN,NaN,2.0,0.0,NaN,0.0,1,3,4 7.30,23/04/21,29.2
3,81,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0
4,82,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,131,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,2,0,2 3.75,19/05/21,7.5
57,132,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,0,0 4.00,20/05/21,0.0
58,133,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,1,0,1 4.80,26/05/21,4.8
59,134,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,0,1,1 4.00,27/05/21,4.0
60,135,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,1,0,1 4.00,04/07/21,4.0

In [22]:
df=df.drop(0,axis=1)
df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Jombay NC,CE & IT (UG),1.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,1,0,1 10.00,21/04/21,10.0
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1,2,3 6.00,22/04/21,18.0
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,NaN,NaN,2.0,0.0,NaN,0.0,1,3,4 7.30,23/04/21,29.2
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,2,0,2 3.75,19/05/21,7.5
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0,0,0 4.00,20/05/21,0.0
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,1,0,1 4.80,26/05/21,4.8
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,0,1,1 4.00,27/05/21,4.0
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,1,0,1 4.00,04/07/21,4.0

In [23]:
df=df.drop(8,axis=1)
df

,1,2,3,4,5,6,7,9,10,11,12,13,14,15
0,Jombay NC,CE & IT (UG),1.0,0.0,NaN,NaN,0.0,NaN,NaN,1,0,1 10.00,21/04/21,10.0
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,0.0,0.0,1,2,3 6.00,22/04/21,18.0
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,NaN,NaN,2.0,NaN,0.0,1,3,4 7.30,23/04/21,29.2
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,NaN,NaN,2,0,2 3.75,19/05/21,7.5
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,NaN,NaN,0.0,NaN,NaN,0,0,0 4.00,20/05/21,0.0
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,NaN,NaN,1,0,1 4.80,26/05/21,4.8
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,NaN,NaN,0,1,1 4.00,27/05/21,4.0
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,NaN,NaN,1,0,1 4.00,04/07/21,4.0

In [24]:
df=df.drop(9,axis=1)

In [25]:
df=df.drop(10,axis=1)

In [26]:
df

,1,2,3,4,5,6,7,11,12,13,14,15
0,Jombay NC,CE & IT (UG),1.0,0.0,NaN,NaN,0.0,1,0,1 10.00,21/04/21,10.0
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,NaN,NaN,2.0,1,3,4 7.30,23/04/21,29.2
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,NaN,NaN,0.0,0,0,0 4.00,20/05/21,0.0
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0

In [27]:
df.isna().sum()

1      0
2      0
3      1
4      1
5     19
6     19
7      1
11     0
12     0
13     0
14     0
15     0
dtype: int64

In [28]:
df[3].fillna(0,inplace=True)
df.isna().sum()

1      0
2      0
3      0
4      1
5     19
6     19
7      1
11     0
12     0
13     0
14     0
15     0
dtype: int64

In [29]:
df[4].fillna(0,inplace=True)
df[5].fillna(0,inplace=True)
df[6].fillna(0,inplace=True)
df[7].fillna(0,inplace=True)
df.isna().sum()

1     0
2     0
3     0
4     0
5     0
6     0
7     0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [30]:
df

,1,2,3,4,5,6,7,11,12,13,14,15
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0

In [31]:
temp=df

In [32]:
temp[['Column1', 'Column2']] = temp[0].str.split(' ', 1, expand=True)
temp

KeyError: 0

In [33]:
pattern = r'(\d+\.\d+|\d+)'

# Use the pattern to split the first column into two separate columns
temp[['Company Name', 'Version']] = temp[0].str.split(pattern, n=1, expand=True)

KeyError: 0

In [34]:
pattern = r'(\d+\.\d+|\d+)'

# Use the pattern to split the first column into two separate columns
temp[['Company Name', 'Version']] = df[0].str.split(pattern, n=1, expand=True)

KeyError: 0

In [35]:
# Create a new DataFrame 'temp' with a copy of the original data
temp = df.copy()

# Define a regular expression pattern to split the first column
pattern = r'(\d+\.\d+|\d+)'

# Use the pattern to split the first column into two separate columns
temp[['Company Name', 'Version']] = temp[0].str.split(pattern, n=1, expand=True)

# Drop the original first column
temp = temp.drop(0, axis=1)

KeyError: 0

In [36]:
# Assuming your DataFrame is named 'df'

# Create a new DataFrame 'temp' with a copy of the original data
temp = df.copy()

# Split the first column using a regular expression pattern and expand
split_data = temp[0].str.extract(r'(.+?)\s*(\d+\.\d+|\d+)?$')

# Rename the columns to 'Company Name' and 'Version'
split_data.columns = ['Company Name', 'Version']

# Concatenate the split data with the original DataFrame
temp = pd.concat([split_data, temp.iloc[:, 1:]], axis=1)

# Drop the original first column
temp = temp.drop(0, axis=1)

KeyError: 0

In [37]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Create a new DataFrame 'temp' with a copy of the original data
temp = df.copy()

# Split the first column using a regular expression pattern and expand
split_data = temp.iloc[:, 0].str.extract(r'(.+?)\s*(\d+\.\d+|\d+)?$')

# Rename the columns to 'Company Name' and 'Version'
split_data.columns = ['Company Name', 'Version']

# Concatenate the split data with the remaining columns of the original DataFrame
temp = pd.concat([split_data, temp.iloc[:, 1:]], axis=1)

# Drop the original first column
temp = temp.drop(df.columns[0], axis=1)

KeyError: '[1] not found in axis'

In [38]:
temp = df.copy()

# Split the first column using a regular expression pattern and expand
split_data = temp[0].str.extract(r'(.+?)\s*(\d+\.\d+|\d+)?$')

# Rename the columns to 'Company Name' and 'Version'
split_data.columns = ['Company Name', 'Version']

# Concatenate the split data with the remaining columns of the original DataFrame
temp = pd.concat([split_data, temp.iloc[:, 1:]], axis=1)

# Drop the original first column
temp.drop(temp.columns[0], axis=1, inplace=True)

KeyError: 0

In [39]:
df

,1,2,3,4,5,6,7,11,12,13,14,15
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0

In [40]:
df[1].unique()

array(['Jombay NC', 'PTC Software NC', 'Screen Magic 6.82', '3EA 6.82',
       'EnthrallTech 6.82', 'Mindstix Software Labs NC',
       'Extramarks Education NC', 'Growisto NC', 'Fabric Inc 7.50',
       'CLSA 6.82', 'TIBCO 6.82', 'Symbl.ai 6.82', 'Cloudwerx 7.50',
       'RIA Advisory 7.38', 'Ryussi Technologies 6.82',
       'Swasthya AI 6.82', 'oneXtel 7.00', 'Hexaview Technologies NC',
       'Druva 6.82', '64squares 6.82', 'Anchanto 6.00', 'Moxie 7.00',
       'Unschool NC', 'PharmEasy 6.82', 'SAS 6.82', 'Jio 6.82',
       'PublicisSapient 7.82', 'Capgemini 6.82', 'Persistent 6.82',
       'Accenture 7.38', 'TCS Ninja 7.95', 'NTT Data 6.82',
       'Cognizant 6.82', 'Vodafone 6.82', 'Winjit Technologies 6.82',
       'Endurance International 6.82', 'Ernst & Young 7.95',
       'Sell.do 6.82', 'Kylas 6.82', 'Centiro 7.00',
       'Eumentis Cloud 6.82', 'Yardi 6.59', 'Infosys 6.82', 'Amura 6.82',
       'Sagitec 6.82', 'e-Zest 6.59', 'Agiliad 7.38', 'Atos 6.82',
       'Rudder Analytics 6.25', 'Product Dossier 6.82', 'Talentio 5.68',
       'Flo Group 6.82', 'HCL Technologies 8.52',
       'IntegriChain Inc. 6.82', 'Aligned Automation 6.82',
       'IGT Solutions 7.38', 'Zocdoc 6.82', 'iQ Digital 6.82',
       'JISA Softech NC'], dtype=object)

In [42]:
temp=df
temp['Numeric_Part'] = temp[1].str.extract(r'(\d+\.\d+|\d+|NC)')

In [43]:
temp

,1,2,3,4,5,6,7,11,12,13,14,15,Numeric_Part
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,3
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC

In [44]:
temp["Numeric_Part"].unique()

array(['NC', '6.82', '3', '7.50', '7.38', '7.00', '64', '6.00', '7.82',
       '7.95', '6.59', '6.25', '5.68', '8.52'], dtype=object)

In [55]:
temp['try4'] = temp[1].str.extract(r'(\d+\.\d+)$')

In [56]:
temp

,1,2,3,4,5,6,7,11,12,13,14,15,Numeric_Part,try1,try2,try3,try4
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC,NC,NC,NaN,NaN
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC,NC,NC,NaN,NaN
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82,6.82,6.82,6.82,6.82
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,3,3,3,3,6.82
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82,6.82,6.82,6.82,6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82,6.82,6.82,6.82,6.82
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38,7.38,7.38,7.38,7.38
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82,6.82,6.82,6.82,6.82
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82,6.82,6.82,6.82,6.82
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC,NC,NC,NaN,NaN

In [57]:
temp["try4"].unique()

array([nan, '6.82', '7.50', '7.38', '7.00', '6.00', '7.82', '7.95',
       '6.59', '6.25', '5.68', '8.52'], dtype=object)

In [58]:
temp["try4"].isna().sum()

9

In [59]:
temp["try4"].fillna("NC",inplace=True)
temp

,1,2,3,4,5,6,7,11,12,13,14,15,Numeric_Part,try1,try2,try3,try4
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC,NC,NC,NaN,NC
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC,NC,NC,NaN,NC
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82,6.82,6.82,6.82,6.82
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,3,3,3,3,6.82
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82,6.82,6.82,6.82,6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82,6.82,6.82,6.82,6.82
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38,7.38,7.38,7.38,7.38
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82,6.82,6.82,6.82,6.82
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82,6.82,6.82,6.82,6.82
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC,NC,NC,NaN,NC

In [60]:
temp.drop("Numeric_Part",axis=1,inplace=True)

In [61]:
temp

,1,2,3,4,5,6,7,11,12,13,14,15,try1,try2,try3,try4
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC,NC,NaN,NC
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC,NC,NaN,NC
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82,6.82,6.82,6.82
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,3,3,3,6.82
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82,6.82,6.82,6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82,6.82,6.82,6.82
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38,7.38,7.38,7.38
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82,6.82,6.82,6.82
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82,6.82,6.82,6.82
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC,NC,NaN,NC

In [62]:
temp.drop("try1",axis=1,inplace=True)
temp.drop("try2",axis=1,inplace=True)
temp.drop("try3",axis=1,inplace=True)
temp

,1,2,3,4,5,6,7,11,12,13,14,15,try4
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,6.82
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC

In [63]:
temp.rename(columns={"try4":"pointer"},inplace=True)
temp

,1,2,3,4,5,6,7,11,12,13,14,15,pointer
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,6.82
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC

In [69]:
temp['try2'] = temp[1].str.extract(r'([A-Za-z\s]+)(?:\s*\d+\.\d+)?')
temp

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,Non_Numeric_Part,try1,try2
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC,Jombay NC,Jombay NC,Jombay NC
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC,PTC Software NC,PTC Software NC,PTC Software NC
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82,Screen Magic,Screen Magic,Screen Magic
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,6.82,EA,EA,EA
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82,EnthrallTech,EnthrallTech,EnthrallTech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82,Aligned Automation,Aligned Automation,Aligned Automation
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38,IGT Solutions,IGT Solutions,IGT Solutions
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82,Zocdoc,Zocdoc,Zocdoc
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82,iQ Digital,iQ Digital,iQ Digital
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC,JISA Softech NC,JISA Softech NC,JISA Softech NC

In [71]:
temp["try2"].unique()

array(['Jombay NC', 'PTC Software NC', 'Screen Magic ', 'EA ',
       'EnthrallTech ', 'Mindstix Software Labs NC',
       'Extramarks Education NC', 'Growisto NC', 'Fabric Inc ', 'CLSA ',
       'TIBCO ', 'Symbl', 'Cloudwerx ', 'RIA Advisory ',
       'Ryussi Technologies ', 'Swasthya AI ', 'oneXtel ',
       'Hexaview Technologies NC', 'Druva ', 'squares ', 'Anchanto ',
       'Moxie ', 'Unschool NC', 'PharmEasy ', 'SAS ', 'Jio ',
       'PublicisSapient ', 'Capgemini ', 'Persistent ', 'Accenture ',
       'TCS Ninja ', 'NTT Data ', 'Cognizant ', 'Vodafone ',
       'Winjit Technologies ', 'Endurance International ', 'Ernst ',
       'Sell', 'Kylas ', 'Centiro ', 'Eumentis Cloud ', 'Yardi ',
       'Infosys ', 'Amura ', 'Sagitec ', 'e', 'Agiliad ', 'Atos ',
       'Rudder Analytics ', 'Product Dossier ', 'Talentio ', 'Flo Group ',
       'HCL Technologies ', 'IntegriChain Inc', 'Aligned Automation ',
       'IGT Solutions ', 'Zocdoc ', 'iQ Digital ', 'JISA Softech NC'],
      dtype=object)

In [73]:
import re

In [74]:
temp["Non_Numeric_Part"].apply(
    lambda x: re.sub(r"(\d+\.\d+)$", "", x).strip()
)

0              Jombay NC
1        PTC Software NC
2           Screen Magic
3                     EA
4           EnthrallTech
             ...
56    Aligned Automation
57         IGT Solutions
58                Zocdoc
59            iQ Digital
60       JISA Softech NC
Name: Non_Numeric_Part, Length: 61, dtype: object

In [75]:
temp

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,Non_Numeric_Part,try1,try2
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC,Jombay NC,Jombay NC,Jombay NC
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC,PTC Software NC,PTC Software NC,PTC Software NC
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82,Screen Magic,Screen Magic,Screen Magic
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,6.82,EA,EA,EA
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82,EnthrallTech,EnthrallTech,EnthrallTech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82,Aligned Automation,Aligned Automation,Aligned Automation
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38,IGT Solutions,IGT Solutions,IGT Solutions
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82,Zocdoc,Zocdoc,Zocdoc
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82,iQ Digital,iQ Digital,iQ Digital
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC,JISA Softech NC,JISA Softech NC,JISA Softech NC

In [76]:
temp["Non_Numeric_Part"].unique()

array(['Jombay NC', 'PTC Software NC', 'Screen Magic ', 'EA ',
       'EnthrallTech ', 'Mindstix Software Labs NC',
       'Extramarks Education NC', 'Growisto NC', 'Fabric Inc ', 'CLSA ',
       'TIBCO ', 'Symbl', 'Cloudwerx ', 'RIA Advisory ',
       'Ryussi Technologies ', 'Swasthya AI ', 'oneXtel ',
       'Hexaview Technologies NC', 'Druva ', 'squares ', 'Anchanto ',
       'Moxie ', 'Unschool NC', 'PharmEasy ', 'SAS ', 'Jio ',
       'PublicisSapient ', 'Capgemini ', 'Persistent ', 'Accenture ',
       'TCS Ninja ', 'NTT Data ', 'Cognizant ', 'Vodafone ',
       'Winjit Technologies ', 'Endurance International ', 'Ernst ',
       'Sell', 'Kylas ', 'Centiro ', 'Eumentis Cloud ', 'Yardi ',
       'Infosys ', 'Amura ', 'Sagitec ', 'e', 'Agiliad ', 'Atos ',
       'Rudder Analytics ', 'Product Dossier ', 'Talentio ', 'Flo Group ',
       'HCL Technologies ', 'IntegriChain Inc', 'Aligned Automation ',
       'IGT Solutions ', 'Zocdoc ', 'iQ Digital ', 'JISA Softech NC'],
      dtype=object)

In [77]:
temp["Non_Numeric_Part"].apply(
    lambda x: re.sub(r"(\d+\.\d+)$", "", x).strip("NC ").strip()
)

0                 Jombay
1           PTC Software
2           Screen Magic
3                     EA
4           EnthrallTech
             ...
56    Aligned Automation
57         IGT Solutions
58                Zocdoc
59            iQ Digital
60          JISA Softech
Name: Non_Numeric_Part, Length: 61, dtype: object

In [78]:
temp

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,Non_Numeric_Part,try1,try2
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC,Jombay NC,Jombay NC,Jombay NC
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC,PTC Software NC,PTC Software NC,PTC Software NC
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82,Screen Magic,Screen Magic,Screen Magic
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,6.82,EA,EA,EA
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82,EnthrallTech,EnthrallTech,EnthrallTech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82,Aligned Automation,Aligned Automation,Aligned Automation
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38,IGT Solutions,IGT Solutions,IGT Solutions
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82,Zocdoc,Zocdoc,Zocdoc
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82,iQ Digital,iQ Digital,iQ Digital
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC,JISA Softech NC,JISA Softech NC,JISA Softech NC

Empty DataFrame
Columns: [Company Name]
Index: []

In [80]:
# Remove "NC" and spaces from the end of the "Non_Numeric_Part" column
temp["Non_Numeric_Part"] = temp["Non_Numeric_Part"].apply(lambda x: re.sub(r"\s*NC\s*$", "", x))

In [81]:
temp

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,Non_Numeric_Part,try1,try2
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC,Jombay,Jombay NC,Jombay NC
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC,PTC Software,PTC Software NC,PTC Software NC
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82,Screen Magic,Screen Magic,Screen Magic
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,6.82,EA,EA,EA
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82,EnthrallTech,EnthrallTech,EnthrallTech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82,Aligned Automation,Aligned Automation,Aligned Automation
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38,IGT Solutions,IGT Solutions,IGT Solutions
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82,Zocdoc,Zocdoc,Zocdoc
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82,iQ Digital,iQ Digital,iQ Digital
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC,JISA Softech,JISA Softech NC,JISA Softech NC

In [82]:
temp.drop("try1",axis=1,inplace=True)

In [83]:
temp

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,Non_Numeric_Part,try2
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC,Jombay,Jombay NC
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC,PTC Software,PTC Software NC
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82,Screen Magic,Screen Magic
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,6.82,EA,EA
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82,EnthrallTech,EnthrallTech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82,Aligned Automation,Aligned Automation
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38,IGT Solutions,IGT Solutions
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82,Zocdoc,Zocdoc
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82,iQ Digital,iQ Digital
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC,JISA Softech,JISA Softech NC

In [84]:
temp.drop("try2",axis=1,inplace=True)
temp

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,Non_Numeric_Part
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC,Jombay
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC,PTC Software
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82,Screen Magic
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,6.82,EA
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82,EnthrallTech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82,Aligned Automation
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38,IGT Solutions
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82,Zocdoc
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82,iQ Digital
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC,JISA Softech

In [85]:
temp["Non_Numeric_Part"].unique()

array(['Jombay', 'PTC Software', 'Screen Magic ', 'EA ', 'EnthrallTech ',
       'Mindstix Software Labs', 'Extramarks Education', 'Growisto',
       'Fabric Inc ', 'CLSA ', 'TIBCO ', 'Symbl', 'Cloudwerx ',
       'RIA Advisory ', 'Ryussi Technologies ', 'Swasthya AI ',
       'oneXtel ', 'Hexaview Technologies', 'Druva ', 'squares ',
       'Anchanto ', 'Moxie ', 'Unschool', 'PharmEasy ', 'SAS ', 'Jio ',
       'PublicisSapient ', 'Capgemini ', 'Persistent ', 'Accenture ',
       'TCS Ninja ', 'NTT Data ', 'Cognizant ', 'Vodafone ',
       'Winjit Technologies ', 'Endurance International ', 'Ernst ',
       'Sell', 'Kylas ', 'Centiro ', 'Eumentis Cloud ', 'Yardi ',
       'Infosys ', 'Amura ', 'Sagitec ', 'e', 'Agiliad ', 'Atos ',
       'Rudder Analytics ', 'Product Dossier ', 'Talentio ', 'Flo Group ',
       'HCL Technologies ', 'IntegriChain Inc', 'Aligned Automation ',
       'IGT Solutions ', 'Zocdoc ', 'iQ Digital ', 'JISA Softech'],
      dtype=object)

In [86]:
temp["Non_Numeric_Part"] = temp["Non_Numeric_Part"].str.strip()

In [87]:
temp["Non_Numeric_Part"].unique()

array(['Jombay', 'PTC Software', 'Screen Magic', 'EA', 'EnthrallTech',
       'Mindstix Software Labs', 'Extramarks Education', 'Growisto',
       'Fabric Inc', 'CLSA', 'TIBCO', 'Symbl', 'Cloudwerx',
       'RIA Advisory', 'Ryussi Technologies', 'Swasthya AI', 'oneXtel',
       'Hexaview Technologies', 'Druva', 'squares', 'Anchanto', 'Moxie',
       'Unschool', 'PharmEasy', 'SAS', 'Jio', 'PublicisSapient',
       'Capgemini', 'Persistent', 'Accenture', 'TCS Ninja', 'NTT Data',
       'Cognizant', 'Vodafone', 'Winjit Technologies',
       'Endurance International', 'Ernst', 'Sell', 'Kylas', 'Centiro',
       'Eumentis Cloud', 'Yardi', 'Infosys', 'Amura', 'Sagitec', 'e',
       'Agiliad', 'Atos', 'Rudder Analytics', 'Product Dossier',
       'Talentio', 'Flo Group', 'HCL Technologies', 'IntegriChain Inc',
       'Aligned Automation', 'IGT Solutions', 'Zocdoc', 'iQ Digital',
       'JISA Softech'], dtype=object)

In [88]:
temp

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,Non_Numeric_Part
0,Jombay NC,CE & IT (UG),1.0,0.0,0.0,0.0,0.0,1,0,1 10.00,21/04/21,10.0,NC,Jombay
1,PTC Software NC,All (UG and PG),1.0,0.0,0.0,1.0,1.0,1,2,3 6.00,22/04/21,18.0,NC,PTC Software
2,Screen Magic 6.82,CE & IT (UG and PG),2.0,0.0,0.0,0.0,2.0,1,3,4 7.30,23/04/21,29.2,6.82,Screen Magic
3,3EA 6.82,All (UG and PG),0.0,0.0,1.0,0.0,0.0,1,0,1 6.00,02/05/21,6.0,6.82,EA
4,EnthrallTech 6.82,All (UG),3.0,0.0,0.0,0.0,0.0,3,0,3 7.00,03/05/21,21.0,6.82,EnthrallTech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0.0,0.0,2.0,0.0,0.0,2,0,2 3.75,19/05/21,7.5,6.82,Aligned Automation
57,IGT Solutions 7.38,CE & IT (UG),0.0,0.0,0.0,0.0,0.0,0,0,0 4.00,20/05/21,0.0,7.38,IGT Solutions
58,Zocdoc 6.82,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.80,26/05/21,4.8,6.82,Zocdoc
59,iQ Digital 6.82,All (UG),0.0,0.0,0.0,0.0,1.0,0,1,1 4.00,27/05/21,4.0,6.82,iQ Digital
60,JISA Softech NC,All (UG),0.0,0.0,1.0,0.0,0.0,1,0,1 4.00,04/07/21,4.0,NC,JISA Softech

In [89]:
temp.to_excel("tempStorePage2.xlsx",index=False)

## Phase 2

In [141]:
import pandas as pd

In [142]:
dt=pd.read_excel("tempStorePage2.xlsx")
dt

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,Non_Numeric_Part
0,Jombay NC,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,Jombay
1,PTC Software NC,All (UG and PG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,PTC Software
2,Screen Magic 6.82,CE & IT (UG and PG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,Screen Magic
3,3EA 6.82,All (UG and PG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,EA
4,EnthrallTech 6.82,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,EnthrallTech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation 6.82,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,Aligned Automation
57,IGT Solutions 7.38,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,IGT Solutions
58,Zocdoc 6.82,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,Zocdoc
59,iQ Digital 6.82,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,iQ Digital
60,JISA Softech NC,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,JISA Softech

In [143]:
dt[1]=dt["Non_Numeric_Part"]
dt

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,Non_Numeric_Part
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,Jombay
1,PTC Software,All (UG and PG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,PTC Software
2,Screen Magic,CE & IT (UG and PG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,Screen Magic
3,EA,All (UG and PG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,EA
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,EnthrallTech
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,Aligned Automation
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,IGT Solutions
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,Zocdoc
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,iQ Digital
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,JISA Softech

In [144]:
dt.drop("Non_Numeric_Part",axis=1,inplace=True)

In [145]:
dt

,1,2,3,4,5,6,7,11,12,13,14,15,pointer
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC
1,PTC Software,All (UG and PG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC
2,Screen Magic,CE & IT (UG and PG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82
3,EA,All (UG and PG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC

In [146]:
dt[2].unique()

array(['CE & IT (UG)', 'All (UG and PG)', 'CE & IT (UG and PG)',
       'All (UG)', 'E&TC (UG)', 'All (UG) and CE (PG)'], dtype=object)

## 'All (UG)', 'CS & IT (UG)', 'E&TC (UG)'

In [147]:
dt[2] = dt[2].str.replace(r'All \(UG and PG\)', 'All (UG)')
dt

C:\Users\SHUBHAM SUKUM\AppData\Local\Temp\ipykernel_8480\1551859495.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dt[2] = dt[2].str.replace(r'All \(UG and PG\)', 'All (UG)')

,1,2,3,4,5,6,7,11,12,13,14,15,pointer
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC
2,Screen Magic,CE & IT (UG and PG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC

In [148]:
dt[2].unique()

array(['CE & IT (UG)', 'All (UG)', 'CE & IT (UG and PG)', 'E&TC (UG)',
       'All (UG) and CE (PG)'], dtype=object)

In [149]:
dt[2] = dt[2].str.replace(r'All \(UG\) and CE \(PG\)', 'All (UG)')
dt[2].unique()

C:\Users\SHUBHAM SUKUM\AppData\Local\Temp\ipykernel_8480\3070809868.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dt[2] = dt[2].str.replace(r'All \(UG\) and CE \(PG\)', 'All (UG)')

array(['CE & IT (UG)', 'All (UG)', 'CE & IT (UG and PG)', 'E&TC (UG)'],
      dtype=object)

In [150]:
dt[2] = dt[2].str.replace(r'CE & IT \(UG and PG\)', 'CE & IT (UG)')
dt[2].unique()

C:\Users\SHUBHAM SUKUM\AppData\Local\Temp\ipykernel_8480\4058331105.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dt[2] = dt[2].str.replace(r'CE & IT \(UG and PG\)', 'CE & IT (UG)')

array(['CE & IT (UG)', 'All (UG)', 'E&TC (UG)'], dtype=object)

In [151]:
dt

,1,2,3,4,5,6,7,11,12,13,14,15,pointer
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC

In [152]:
dt["CE"]=dt[3]+dt[4]
dt

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,CE
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0

In [153]:
dt["ENTC"]=dt[5]+dt[6]
dt

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,CE,ENTC
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1,0
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1,1
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2,0
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0,1
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0,2
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0,0
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0,1
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0,0
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0,1

In [154]:
dt["IT"]=dt[7]
dt

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,CE,ENTC,IT
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1,0,0
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1,1,1
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2,0,2
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0,1,0
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0,2,0
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0,0,0
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0,1,0
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0,0,1
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0,1,0

In [155]:
dt["B"]=dt[2]
dt

,1,2,3,4,5,6,7,11,12,13,14,15,pointer,CE,ENTC,IT,B
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1,0,0,CE & IT (UG)
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1,1,1,All (UG)
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2,0,2,CE & IT (UG)
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0,1,0,All (UG)
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3,0,0,All (UG)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0,2,0,All (UG)
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0,0,0,CE & IT (UG)
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0,1,0,All (UG)
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0,0,1,All (UG)
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0,1,0,All (UG)

In [156]:
dt=dt.rename(columns={dt.columns[0]:"company"})
dt

,company,2,3,4,5,6,7,11,12,13,14,15,pointer,CE,ENTC,IT,B
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1,0,0,CE & IT (UG)
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1,1,1,All (UG)
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2,0,2,CE & IT (UG)
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0,1,0,All (UG)
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3,0,0,All (UG)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0,2,0,All (UG)
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0,0,0,CE & IT (UG)
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0,1,0,All (UG)
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0,0,1,All (UG)
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0,1,0,All (UG)

In [157]:
dt=dt.rename(columns={dt.columns[1]:"nothing"})
dt

,company,nothing,3,4,5,6,7,11,12,13,14,15,pointer,CE,ENTC,IT,B
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1,0,0,CE & IT (UG)
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1,1,1,All (UG)
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2,0,2,CE & IT (UG)
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0,1,0,All (UG)
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3,0,0,All (UG)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0,2,0,All (UG)
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0,0,0,CE & IT (UG)
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0,1,0,All (UG)
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0,0,1,All (UG)
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0,1,0,All (UG)

In [158]:
dt = dt.rename(columns={dt.columns[1]: "company_name"})

In [159]:
dt

,company,company_name,3,4,5,6,7,11,12,13,14,15,pointer,CE,ENTC,IT,B
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1,0,0,CE & IT (UG)
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1,1,1,All (UG)
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2,0,2,CE & IT (UG)
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0,1,0,All (UG)
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3,0,0,All (UG)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0,2,0,All (UG)
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0,0,0,CE & IT (UG)
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0,1,0,All (UG)
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0,0,1,All (UG)
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0,1,0,All (UG)

In [160]:
dt.columns.values[1] = "sdf"
dt

,company,sdf,3,4,5,6,7,11,12,13,14,15,pointer,CE,ENTC,IT,B
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1,0,0,CE & IT (UG)
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1,1,1,All (UG)
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2,0,2,CE & IT (UG)
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0,1,0,All (UG)
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3,0,0,All (UG)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0,2,0,All (UG)
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0,0,0,CE & IT (UG)
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0,1,0,All (UG)
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0,0,1,All (UG)
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0,1,0,All (UG)

In [161]:
dt.columns.values[0] = "company"
dt

,company,sdf,3,4,5,6,7,11,12,13,14,15,pointer,CE,ENTC,IT,B
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1,0,0,CE & IT (UG)
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1,1,1,All (UG)
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2,0,2,CE & IT (UG)
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0,1,0,All (UG)
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3,0,0,All (UG)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0,2,0,All (UG)
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0,0,0,CE & IT (UG)
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0,1,0,All (UG)
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0,0,1,All (UG)
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0,1,0,All (UG)

In [162]:
dt.columns.values[1]="P"
dt

,company,P,3,4,5,6,7,11,12,13,14,15,pointer,CE,ENTC,IT,B
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1,0,0,CE & IT (UG)
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1,1,1,All (UG)
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2,0,2,CE & IT (UG)
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0,1,0,All (UG)
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3,0,0,All (UG)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0,2,0,All (UG)
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0,0,0,CE & IT (UG)
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0,1,0,All (UG)
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0,0,1,All (UG)
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0,1,0,All (UG)

In [163]:
dt["P"]=dt["pointer"]
dt

,company,P,3,4,5,6,7,11,12,13,14,15,pointer,CE,ENTC,IT,B,P
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,NC,1,0,0,CE & IT (UG),NC
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,NC,1,1,1,All (UG),NC
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,6.82,2,0,2,CE & IT (UG),6.82
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,6.82,0,1,0,All (UG),6.82
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,6.82,3,0,0,All (UG),6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,6.82,0,2,0,All (UG),6.82
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,7.38,0,0,0,CE & IT (UG),7.38
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,6.82,0,1,0,All (UG),6.82
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,6.82,0,0,1,All (UG),6.82
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,NC,0,1,0,All (UG),NC

In [164]:
dt.drop("pointer",axis=1,inplace=True)
dt

,company,P,3,4,5,6,7,11,12,13,14,15,CE,ENTC,IT,B,P
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0,CE & IT (UG),NC
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1,All (UG),NC
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2,CE & IT (UG),6.82
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0,All (UG),6.82
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0,All (UG),6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0,All (UG),6.82
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0,CE & IT (UG),7.38
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0,All (UG),6.82
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1,All (UG),6.82
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0,All (UG),NC

In [165]:
dt.columns.values[1]="pointer"
dt

,company,pointer,3,4,5,6,7,11,12,13,14,15,CE,ENTC,IT,B,P
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0,CE & IT (UG),NC
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1,All (UG),NC
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2,CE & IT (UG),6.82
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0,All (UG),6.82
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0,All (UG),6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0,All (UG),6.82
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0,CE & IT (UG),7.38
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0,All (UG),6.82
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1,All (UG),6.82
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0,All (UG),NC

In [166]:
dt.columns.values[2]="branch"
dt

,company,pointer,branch,4,5,6,7,11,12,13,14,15,CE,ENTC,IT,B,P
0,Jombay,CE & IT (UG),1,0,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0,CE & IT (UG),NC
1,PTC Software,All (UG),1,0,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1,All (UG),NC
2,Screen Magic,CE & IT (UG),2,0,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2,CE & IT (UG),6.82
3,EA,All (UG),0,0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0,All (UG),6.82
4,EnthrallTech,All (UG),3,0,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0,All (UG),6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),0,0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0,All (UG),6.82
57,IGT Solutions,CE & IT (UG),0,0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0,CE & IT (UG),7.38
58,Zocdoc,All (UG),0,0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0,All (UG),6.82
59,iQ Digital,All (UG),0,0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1,All (UG),6.82
60,JISA Softech,All (UG),0,0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0,All (UG),NC

In [167]:
dt["branch"]=dt["B"]
dt

,company,pointer,branch,4,5,6,7,11,12,13,14,15,CE,ENTC,IT,B,P
0,Jombay,CE & IT (UG),CE & IT (UG),0,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0,CE & IT (UG),NC
1,PTC Software,All (UG),All (UG),0,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1,All (UG),NC
2,Screen Magic,CE & IT (UG),CE & IT (UG),0,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2,CE & IT (UG),6.82
3,EA,All (UG),All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0,All (UG),6.82
4,EnthrallTech,All (UG),All (UG),0,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0,All (UG),6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0,All (UG),6.82
57,IGT Solutions,CE & IT (UG),CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0,CE & IT (UG),7.38
58,Zocdoc,All (UG),All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0,All (UG),6.82
59,iQ Digital,All (UG),All (UG),0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1,All (UG),6.82
60,JISA Softech,All (UG),All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0,All (UG),NC

In [168]:
dt.columns.values[16]="ok"

In [169]:
dt

,company,pointer,branch,4,5,6,7,11,12,13,14,15,CE,ENTC,IT,B,ok
0,Jombay,CE & IT (UG),CE & IT (UG),0,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0,CE & IT (UG),NC
1,PTC Software,All (UG),All (UG),0,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1,All (UG),NC
2,Screen Magic,CE & IT (UG),CE & IT (UG),0,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2,CE & IT (UG),6.82
3,EA,All (UG),All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0,All (UG),6.82
4,EnthrallTech,All (UG),All (UG),0,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0,All (UG),6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,All (UG),All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0,All (UG),6.82
57,IGT Solutions,CE & IT (UG),CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0,CE & IT (UG),7.38
58,Zocdoc,All (UG),All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0,All (UG),6.82
59,iQ Digital,All (UG),All (UG),0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1,All (UG),6.82
60,JISA Softech,All (UG),All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0,All (UG),NC

In [170]:
dt["pointer"]=dt["ok"]
dt

,company,pointer,branch,4,5,6,7,11,12,13,14,15,CE,ENTC,IT,B,ok
0,Jombay,NC,CE & IT (UG),0,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0,CE & IT (UG),NC
1,PTC Software,NC,All (UG),0,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1,All (UG),NC
2,Screen Magic,6.82,CE & IT (UG),0,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2,CE & IT (UG),6.82
3,EA,6.82,All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0,All (UG),6.82
4,EnthrallTech,6.82,All (UG),0,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0,All (UG),6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0,All (UG),6.82
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0,CE & IT (UG),7.38
58,Zocdoc,6.82,All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0,All (UG),6.82
59,iQ Digital,6.82,All (UG),0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1,All (UG),6.82
60,JISA Softech,NC,All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0,All (UG),NC

In [171]:
dt.drop("B",axis=1,inplace=True)
dt

,company,pointer,branch,4,5,6,7,11,12,13,14,15,CE,ENTC,IT,ok
0,Jombay,NC,CE & IT (UG),0,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0,NC
1,PTC Software,NC,All (UG),0,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1,NC
2,Screen Magic,6.82,CE & IT (UG),0,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2,6.82
3,EA,6.82,All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0,6.82
4,EnthrallTech,6.82,All (UG),0,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0,6.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0,6.82
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0,7.38
58,Zocdoc,6.82,All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0,6.82
59,iQ Digital,6.82,All (UG),0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1,6.82
60,JISA Softech,NC,All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0,NC

In [172]:
dt.drop("ok",axis=1,inplace=True)
dt

,company,pointer,branch,4,5,6,7,11,12,13,14,15,CE,ENTC,IT
0,Jombay,NC,CE & IT (UG),0,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),0,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),0,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),0,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0

In [173]:
dt.rename(columns={"CE":"ce"},inplace=True)
dt

,company,pointer,branch,4,5,6,7,11,12,13,14,15,ce,ENTC,IT
0,Jombay,NC,CE & IT (UG),0,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),0,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),0,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),0,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0

In [174]:
dt.rename(columns={"ENTC":"entc"},inplace=True)
dt.rename(columns={"IT":"it"},inplace=True)
dt

,company,pointer,branch,4,5,6,7,11,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),0,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),0,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),0,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),0,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0

In [175]:
dt[4]=dt["ce"]
dt

,company,pointer,branch,4,5,6,7,11,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0

In [176]:
dt.columns.values[3]="CE"
dt

,company,pointer,branch,CE,5,6,7,11,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,0,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,0,2,1,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,0,1,0,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0

In [177]:
dt[5]=dt["entc"]
dt[6]=dt["it"]
dt

,company,pointer,branch,CE,5,6,7,11,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,1,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,2,1,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,1,1,0,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0

In [178]:
dt.columns.values[4]="ENTC"
dt

,company,pointer,branch,CE,ENTC,6,7,11,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,1,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,2,1,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,1,1,0,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0

In [179]:
dt.columns.values[5]="IT"
dt

,company,pointer,branch,CE,ENTC,IT,7,11,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,0,1,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,1,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,2,1,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,0,1,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,0,3,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,0,2,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,0,1,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,1,1,0,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,0,1,0,1 4.00,04/07/21,4.0,0,1,0

In [180]:
dt[7]=dt[11]
dt

,company,pointer,branch,CE,ENTC,IT,7,11,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,1,1,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,1,1,1,1,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,1,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,1,1,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,3,3,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,2,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,1,1,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,1,0,0,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,1,1,0,1 4.00,04/07/21,4.0,0,1,0

In [181]:
dt[11]=dt[12]
dt

,company,pointer,branch,CE,ENTC,IT,7,11,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0,0,1,0

In [182]:
dt.columns.values[6]="male"
dt

,company,pointer,branch,CE,ENTC,IT,male,11,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0,0,1,0

In [183]:
dt.columns.values[7]="female"
dt

,company,pointer,branch,CE,ENTC,IT,male,female,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0,0,1,0

In [184]:
dt

,company,pointer,branch,CE,ENTC,IT,male,female,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2,2,0,2
3,EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0,0,1,0

In [185]:
dt.to_excel("seperationRemainsPage2.xlsx",index=False)