In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("seperationRemainsPage2.xlsx")
df

,company,pointer,branch,CE,ENTC,IT,male,female,12,13,14,15,ce,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0,1,0,0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0,1,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2,2,0,2
3,3EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0,0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5,0,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8,0,1,0
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0,0,0,1
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0,0,1,0

In [3]:
df.drop("ce",axis=1,inplace=True)
df

,company,pointer,branch,CE,ENTC,IT,male,female,12,13,14,15,entc,it
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0,0,0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0,1,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2,0,2
3,3EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0,1,0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5,2,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0,0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8,1,0
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0,0,1
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0,1,0

In [4]:
df.drop("entc",inplace=True,axis=1)
df

,company,pointer,branch,CE,ENTC,IT,male,female,12,13,14,15,it
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0,0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0,1
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2,2
3,3EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0,0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5,0
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0,0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8,0
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0,1
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0,0

In [5]:
df.drop("it",axis=1,inplace=True)
df

,company,pointer,branch,CE,ENTC,IT,male,female,12,13,14,15
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2
3,3EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0

In [6]:
df.columns.values[11]="investment"
df

,company,pointer,branch,CE,ENTC,IT,male,female,12,13,14,investment
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2
3,3EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0

In [7]:
df.columns.values[10]="date"
df

,company,pointer,branch,CE,ENTC,IT,male,female,12,13,date,investment
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2
3,3EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0

In [16]:
df.columns=["company","pointer","branch","CE","ENTC","IT","male","female","total","salary","date","investment"]
df

,company,pointer,branch,CE,ENTC,IT,male,female,total,salary,date,investment
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,21/04/21,10.0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,22/04/21,18.0
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,23/04/21,29.2
3,3EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,02/05/21,6.0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,03/05/21,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,19/05/21,7.5
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,20/05/21,0.0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,26/05/21,4.8
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,27/05/21,4.0
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,04/07/21,4.0

In [19]:
df["date"]=pd.to_datetime(df["date"],errors="coerce")
df

,company,pointer,branch,CE,ENTC,IT,male,female,total,salary,date,investment
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,2021-04-21,10.0
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,2021-04-22,18.0
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,2021-04-23,29.2
3,3EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,2021-02-05,6.0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,2021-03-05,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,2021-05-19,7.5
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,2021-05-20,0.0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,2021-05-26,4.8
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,2021-05-27,4.0
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,2021-04-07,4.0

In [20]:
temp=df

In [21]:
temp[['numeric_salary', 'decimal_salary']] = temp['salary'].str.split(' ', expand=True)

In [22]:
temp

,company,pointer,branch,CE,ENTC,IT,male,female,total,salary,date,investment,numeric_salary,decimal_salary
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,0,1 10.00,2021-04-21,10.0,1,10.00
1,PTC Software,NC,All (UG),1,1,1,1,2,2,3 6.00,2021-04-22,18.0,3,6.00
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,3,4 7.30,2021-04-23,29.2,4,7.30
3,3EA,6.82,All (UG),0,1,0,1,0,0,1 6.00,2021-02-05,6.0,1,6.00
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,0,3 7.00,2021-03-05,21.0,3,7.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,0,2 3.75,2021-05-19,7.5,2,3.75
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,2021-05-20,0.0,0,4.00
58,Zocdoc,6.82,All (UG),0,1,0,1,0,0,1 4.80,2021-05-26,4.8,1,4.80
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,2021-05-27,4.0,1,4.00
60,JISA Softech,NC,All (UG),0,1,0,1,0,0,1 4.00,2021-04-07,4.0,1,4.00

In [24]:
df["total"]=df["numeric_salary"]
df

,company,pointer,branch,CE,ENTC,IT,male,female,total,salary,date,investment,numeric_salary,decimal_salary
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,1,1 10.00,2021-04-21,10.0,1,10.00
1,PTC Software,NC,All (UG),1,1,1,1,2,3,3 6.00,2021-04-22,18.0,3,6.00
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,4,4 7.30,2021-04-23,29.2,4,7.30
3,3EA,6.82,All (UG),0,1,0,1,0,1,1 6.00,2021-02-05,6.0,1,6.00
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,3,3 7.00,2021-03-05,21.0,3,7.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,2,2 3.75,2021-05-19,7.5,2,3.75
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,0 4.00,2021-05-20,0.0,0,4.00
58,Zocdoc,6.82,All (UG),0,1,0,1,0,1,1 4.80,2021-05-26,4.8,1,4.80
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,1 4.00,2021-05-27,4.0,1,4.00
60,JISA Softech,NC,All (UG),0,1,0,1,0,1,1 4.00,2021-04-07,4.0,1,4.00

In [25]:
df["salary"]=df["decimal_salary"]
df

,company,pointer,branch,CE,ENTC,IT,male,female,total,salary,date,investment,numeric_salary,decimal_salary
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,1,10.00,2021-04-21,10.0,1,10.00
1,PTC Software,NC,All (UG),1,1,1,1,2,3,6.00,2021-04-22,18.0,3,6.00
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,4,7.30,2021-04-23,29.2,4,7.30
3,3EA,6.82,All (UG),0,1,0,1,0,1,6.00,2021-02-05,6.0,1,6.00
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,3,7.00,2021-03-05,21.0,3,7.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,2,3.75,2021-05-19,7.5,2,3.75
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,4.00,2021-05-20,0.0,0,4.00
58,Zocdoc,6.82,All (UG),0,1,0,1,0,1,4.80,2021-05-26,4.8,1,4.80
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,4.00,2021-05-27,4.0,1,4.00
60,JISA Softech,NC,All (UG),0,1,0,1,0,1,4.00,2021-04-07,4.0,1,4.00

In [26]:
df.drop("numeric_salary",axis=1,inplace=True)
df

,company,pointer,branch,CE,ENTC,IT,male,female,total,salary,date,investment,decimal_salary
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,1,10.00,2021-04-21,10.0,10.00
1,PTC Software,NC,All (UG),1,1,1,1,2,3,6.00,2021-04-22,18.0,6.00
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,4,7.30,2021-04-23,29.2,7.30
3,3EA,6.82,All (UG),0,1,0,1,0,1,6.00,2021-02-05,6.0,6.00
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,3,7.00,2021-03-05,21.0,7.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,2,3.75,2021-05-19,7.5,3.75
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,4.00,2021-05-20,0.0,4.00
58,Zocdoc,6.82,All (UG),0,1,0,1,0,1,4.80,2021-05-26,4.8,4.80
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,4.00,2021-05-27,4.0,4.00
60,JISA Softech,NC,All (UG),0,1,0,1,0,1,4.00,2021-04-07,4.0,4.00

In [27]:
df.drop("decimal_salary",axis=1,inplace=True)
df

,company,pointer,branch,CE,ENTC,IT,male,female,total,salary,date,investment
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,1,10.00,2021-04-21,10.0
1,PTC Software,NC,All (UG),1,1,1,1,2,3,6.00,2021-04-22,18.0
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,4,7.30,2021-04-23,29.2
3,3EA,6.82,All (UG),0,1,0,1,0,1,6.00,2021-02-05,6.0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,3,7.00,2021-03-05,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,2,3.75,2021-05-19,7.5
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,4.00,2021-05-20,0.0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,1,4.80,2021-05-26,4.8
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,4.00,2021-05-27,4.0
60,JISA Softech,NC,All (UG),0,1,0,1,0,1,4.00,2021-04-07,4.0

In [29]:
df.isna().sum().sum()

0

In [31]:
df.dtypes

company               object
pointer               object
branch                object
CE                     int64
ENTC                   int64
IT                     int64
male                   int64
female                 int64
total                 object
salary                object
date          datetime64[ns]
investment           float64
dtype: object

In [32]:
df["total"]=df["total"].astype(int)
df.dtypes

company               object
pointer               object
branch                object
CE                     int64
ENTC                   int64
IT                     int64
male                   int64
female                 int64
total                  int32
salary                object
date          datetime64[ns]
investment           float64
dtype: object

In [33]:
df

,company,pointer,branch,CE,ENTC,IT,male,female,total,salary,date,investment
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,1,10.00,2021-04-21,10.0
1,PTC Software,NC,All (UG),1,1,1,1,2,3,6.00,2021-04-22,18.0
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,4,7.30,2021-04-23,29.2
3,3EA,6.82,All (UG),0,1,0,1,0,1,6.00,2021-02-05,6.0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,3,7.00,2021-03-05,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,2,3.75,2021-05-19,7.5
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,4.00,2021-05-20,0.0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,1,4.80,2021-05-26,4.8
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,4.00,2021-05-27,4.0
60,JISA Softech,NC,All (UG),0,1,0,1,0,1,4.00,2021-04-07,4.0

In [34]:
df.to_excel("page2done.xlsx",index=False)

In [35]:
json_data=df.to_json(orient="records")
json_data

'[{"company":"Jombay","pointer":"NC","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":0,"male":1,"female":0,"total":1,"salary":"10.00","date":1618963200000,"investment":10.0},{"company":"PTC Software","pointer":"NC","branch":"All (UG)","CE":1,"ENTC":1,"IT":1,"male":1,"female":2,"total":3,"salary":"6.00","date":1619049600000,"investment":18.0},{"company":"Screen Magic","pointer":"6.82","branch":"CE & IT (UG)","CE":2,"ENTC":0,"IT":2,"male":1,"female":3,"total":4,"salary":"7.30","date":1619136000000,"investment":29.2},{"company":"3EA","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":0,"male":1,"female":0,"total":1,"salary":"6.00","date":1612483200000,"investment":6.0},{"company":"EnthrallTech","pointer":"6.82","branch":"All (UG)","CE":3,"ENTC":0,"IT":0,"male":3,"female":0,"total":3,"salary":"7.00","date":1614902400000,"investment":21.0},{"company":"Mindstix Software Labs","pointer":"NC","branch":"All (UG)","CE":1,"ENTC":0,"IT":1,"male":1,"female":1,"total":2,"salary":"6.30","date":1620172800000,"investment":12.6},{"company":"Mindstix Software Labs","pointer":"NC","branch":"All (UG)","CE":1,"ENTC":0,"IT":0,"male":1,"female":0,"total":1,"salary":"5.50","date":1620172800000,"investment":5.5},{"company":"Extramarks Education","pointer":"NC","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"11.50","date":1630800000000,"investment":0.0},{"company":"Growisto","pointer":"NC","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"6.50","date":1633392000000,"investment":0.0},{"company":"Fabric Inc","pointer":"7.50","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"8.50","date":1620950400000,"investment":0.0},{"company":"CLSA","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":1,"male":0,"female":1,"total":1,"salary":"8.00","date":1621296000000,"investment":8.0},{"company":"TIBCO","pointer":"6.82","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":1,"male":1,"female":1,"total":2,"salary":"7.00","date":1621296000000,"investment":14.0},{"company":"Symbl","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":0,"male":1,"female":0,"total":1,"salary":"12.00","date":1621468800000,"investment":12.0},{"company":"Cloudwerx","pointer":"7.50","branch":"All (UG)","CE":0,"ENTC":2,"IT":0,"male":1,"female":1,"total":2,"salary":"5.00","date":1621555200000,"investment":10.0},{"company":"RIA Advisory","pointer":"7.38","branch":"All (UG)","CE":3,"ENTC":2,"IT":1,"male":4,"female":2,"total":6,"salary":"5.50","date":1621814400000,"investment":33.0},{"company":"Ryussi Technologies","pointer":"6.82","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":0,"male":1,"female":0,"total":1,"salary":"7.50","date":1621814400000,"investment":7.5},{"company":"Swasthya AI","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"6.00","date":1621987200000,"investment":0.0},{"company":"oneXtel","pointer":"7.00","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":1,"male":1,"female":1,"total":2,"salary":"5.50","date":1622073600000,"investment":11.0},{"company":"Hexaview Technologies","pointer":"NC","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"9.00","date":1630886400000,"investment":0.0},{"company":"Druva","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"12.00","date":1633478400000,"investment":0.0},{"company":"64squares","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":0,"male":0,"female":1,"total":1,"salary":"7.50","date":1623715200000,"investment":7.5},{"company":"Anchanto","pointer":"6.00","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"7.50","date":1624147200000,"investment":0.0},{"company":"Moxie","pointer":"7.00","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"9.60","date":1624233600000,"investment":0.0},{"company":"Unschool","pointer":"NC","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"5.00","date":1624492800000,"investment":0.0},{"company":"PharmEasy","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"11.00","date":1615075200000,"investment":0.0},{"company":"SAS","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":1,"male":1,"female":0,"total":1,"salary":"7.38","date":1628726400000,"investment":7.38},{"company":"Jio","pointer":"6.82","branch":"All (UG)","CE":1,"ENTC":0,"IT":0,"male":1,"female":0,"total":1,"salary":"5.00","date":1637884800000,"investment":5.0},{"company":"PublicisSapient","pointer":"7.82","branch":"All (UG)","CE":0,"ENTC":3,"IT":0,"male":2,"female":1,"total":3,"salary":"6.50","date":1639958400000,"investment":19.5},{"company":"Capgemini","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":6,"IT":0,"male":5,"female":1,"total":6,"salary":"3.80","date":1598659200000,"investment":22.8},{"company":"Persistent","pointer":"6.82","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":3,"male":3,"female":1,"total":4,"salary":"4.51","date":1583712000000,"investment":18.04},{"company":"Persistent","pointer":"6.82","branch":"E&TC (UG)","CE":0,"ENTC":10,"IT":0,"male":6,"female":4,"total":10,"salary":"4.51","date":1615680000000,"investment":45.1},{"company":"Accenture","pointer":"7.38","branch":"All (UG)","CE":6,"ENTC":11,"IT":6,"male":10,"female":13,"total":23,"salary":"4.50","date":1600732800000,"investment":103.5},{"company":"TCS Ninja","pointer":"7.95","branch":"All (UG)","CE":1,"ENTC":5,"IT":1,"male":3,"female":4,"total":7,"salary":"3.36","date":1586476800000,"investment":23.52},{"company":"NTT Data","pointer":"6.82","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":0,"male":0,"female":1,"total":1,"salary":"3.50","date":1602720000000,"investment":3.5},{"company":"Cognizant","pointer":"6.82","branch":"All (UG)","CE":6,"ENTC":14,"IT":6,"male":19,"female":7,"total":26,"salary":"4.01","date":1602720000000,"investment":104.26},{"company":"Vodafone","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":8,"IT":2,"male":6,"female":4,"total":10,"salary":"4.25","date":1605657600000,"investment":42.5},{"company":"Winjit Technologies","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":1,"male":0,"female":1,"total":1,"salary":"4.50","date":1578787200000,"investment":4.5},{"company":"Endurance International","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":1,"male":0,"female":1,"total":1,"salary":"3.72","date":1605139200000,"investment":3.72},{"company":"Ernst","pointer":"7.95","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"4.37","date":1630454400000,"investment":0.0},{"company":"Sell","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"4.00","date":1610755200000,"investment":0.0},{"company":"Kylas","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"4.00","date":1610755200000,"investment":0.0},{"company":"Centiro","pointer":"7.00","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"3.80","date":1611100800000,"investment":0.0},{"company":"Eumentis Cloud","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":1,"male":1,"female":1,"total":2,"salary":"4.07","date":1638403200000,"investment":8.14},{"company":"Yardi","pointer":"6.59","branch":"All (UG)","CE":7,"ENTC":11,"IT":7,"male":10,"female":15,"total":25,"salary":"4.50","date":1613779200000,"investment":112.5},{"company":"Infosys","pointer":"6.82","branch":"All (UG)","CE":2,"ENTC":2,"IT":0,"male":1,"female":3,"total":4,"salary":"3.50","date":1613865600000,"investment":14.0},{"company":"Amura","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":1,"male":1,"female":1,"total":2,"salary":"4.50","date":1633219200000,"investment":9.0},{"company":"Sagitec","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":2,"male":1,"female":1,"total":2,"salary":"4.00","date":1635897600000,"investment":8.0},{"company":"e-Zest","pointer":"6.59","branch":"All (UG)","CE":0,"ENTC":0,"IT":1,"male":0,"female":1,"total":1,"salary":"3.20","date":1615852800000,"investment":3.2},{"company":"Agiliad","pointer":"7.38","branch":"All (UG)","CE":3,"ENTC":7,"IT":2,"male":5,"female":7,"total":12,"salary":"4.00","date":1615939200000,"investment":48.0},{"company":"Atos","pointer":"6.82","branch":"All (UG)","CE":1,"ENTC":3,"IT":2,"male":3,"female":3,"total":6,"salary":"3.10","date":1616198400000,"investment":18.6},{"company":"Rudder Analytics","pointer":"6.25","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"4.00","date":1625356800000,"investment":0.0},{"company":"Product Dossier","pointer":"6.82","branch":"CE & IT (UG)","CE":2,"ENTC":0,"IT":4,"male":3,"female":3,"total":6,"salary":"3.50","date":1625356800000,"investment":21.0},{"company":"Talentio","pointer":"5.68","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"3.00","date":1619049600000,"investment":0.0},{"company":"Flo Group","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":4,"IT":0,"male":2,"female":2,"total":4,"salary":"3.50","date":1609804800000,"investment":14.0},{"company":"HCL Technologies","pointer":"8.52","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"3.50","date":1617580800000,"investment":0.0},{"company":"IntegriChain Inc","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"3.00","date":1628121600000,"investment":0.0},{"company":"Aligned Automation","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":2,"IT":0,"male":2,"female":0,"total":2,"salary":"3.75","date":1621382400000,"investment":7.5},{"company":"IGT Solutions","pointer":"7.38","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":"4.00","date":1621468800000,"investment":0.0},{"company":"Zocdoc","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":0,"male":1,"female":0,"total":1,"salary":"4.80","date":1621987200000,"investment":4.8},{"company":"iQ Digital","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":1,"male":0,"female":1,"total":1,"salary":"4.00","date":1622073600000,"investment":4.0},{"company":"JISA Softech","pointer":"NC","branch":"All (UG)","CE":0,"ENTC":1,"IT":0,"male":1,"female":0,"total":1,"salary":"4.00","date":1617753600000,"investment":4.0}]'

In [36]:
with open("2021page2.json","w") as json_file:
    json_file.write(json_data)

In [37]:
df["salary"]=df["salary"].astype('float64')
df.dtypes

company               object
pointer               object
branch                object
CE                     int64
ENTC                   int64
IT                     int64
male                   int64
female                 int64
total                  int32
salary               float64
date          datetime64[ns]
investment           float64
dtype: object

In [38]:
df

,company,pointer,branch,CE,ENTC,IT,male,female,total,salary,date,investment
0,Jombay,NC,CE & IT (UG),1,0,0,1,0,1,10.00,2021-04-21,10.0
1,PTC Software,NC,All (UG),1,1,1,1,2,3,6.00,2021-04-22,18.0
2,Screen Magic,6.82,CE & IT (UG),2,0,2,1,3,4,7.30,2021-04-23,29.2
3,3EA,6.82,All (UG),0,1,0,1,0,1,6.00,2021-02-05,6.0
4,EnthrallTech,6.82,All (UG),3,0,0,3,0,3,7.00,2021-03-05,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,Aligned Automation,6.82,All (UG),0,2,0,2,0,2,3.75,2021-05-19,7.5
57,IGT Solutions,7.38,CE & IT (UG),0,0,0,0,0,0,4.00,2021-05-20,0.0
58,Zocdoc,6.82,All (UG),0,1,0,1,0,1,4.80,2021-05-26,4.8
59,iQ Digital,6.82,All (UG),0,0,1,0,1,1,4.00,2021-05-27,4.0
60,JISA Softech,NC,All (UG),0,1,0,1,0,1,4.00,2021-04-07,4.0

In [39]:
df.to_excel("page2done.xlsx",index=False)

In [40]:
json_data=df.to_json(orient="records")
json_data

'[{"company":"Jombay","pointer":"NC","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":0,"male":1,"female":0,"total":1,"salary":10.0,"date":1618963200000,"investment":10.0},{"company":"PTC Software","pointer":"NC","branch":"All (UG)","CE":1,"ENTC":1,"IT":1,"male":1,"female":2,"total":3,"salary":6.0,"date":1619049600000,"investment":18.0},{"company":"Screen Magic","pointer":"6.82","branch":"CE & IT (UG)","CE":2,"ENTC":0,"IT":2,"male":1,"female":3,"total":4,"salary":7.3,"date":1619136000000,"investment":29.2},{"company":"3EA","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":0,"male":1,"female":0,"total":1,"salary":6.0,"date":1612483200000,"investment":6.0},{"company":"EnthrallTech","pointer":"6.82","branch":"All (UG)","CE":3,"ENTC":0,"IT":0,"male":3,"female":0,"total":3,"salary":7.0,"date":1614902400000,"investment":21.0},{"company":"Mindstix Software Labs","pointer":"NC","branch":"All (UG)","CE":1,"ENTC":0,"IT":1,"male":1,"female":1,"total":2,"salary":6.3,"date":1620172800000,"investment":12.6},{"company":"Mindstix Software Labs","pointer":"NC","branch":"All (UG)","CE":1,"ENTC":0,"IT":0,"male":1,"female":0,"total":1,"salary":5.5,"date":1620172800000,"investment":5.5},{"company":"Extramarks Education","pointer":"NC","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":11.5,"date":1630800000000,"investment":0.0},{"company":"Growisto","pointer":"NC","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":6.5,"date":1633392000000,"investment":0.0},{"company":"Fabric Inc","pointer":"7.50","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":8.5,"date":1620950400000,"investment":0.0},{"company":"CLSA","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":1,"male":0,"female":1,"total":1,"salary":8.0,"date":1621296000000,"investment":8.0},{"company":"TIBCO","pointer":"6.82","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":1,"male":1,"female":1,"total":2,"salary":7.0,"date":1621296000000,"investment":14.0},{"company":"Symbl","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":0,"male":1,"female":0,"total":1,"salary":12.0,"date":1621468800000,"investment":12.0},{"company":"Cloudwerx","pointer":"7.50","branch":"All (UG)","CE":0,"ENTC":2,"IT":0,"male":1,"female":1,"total":2,"salary":5.0,"date":1621555200000,"investment":10.0},{"company":"RIA Advisory","pointer":"7.38","branch":"All (UG)","CE":3,"ENTC":2,"IT":1,"male":4,"female":2,"total":6,"salary":5.5,"date":1621814400000,"investment":33.0},{"company":"Ryussi Technologies","pointer":"6.82","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":0,"male":1,"female":0,"total":1,"salary":7.5,"date":1621814400000,"investment":7.5},{"company":"Swasthya AI","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":6.0,"date":1621987200000,"investment":0.0},{"company":"oneXtel","pointer":"7.00","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":1,"male":1,"female":1,"total":2,"salary":5.5,"date":1622073600000,"investment":11.0},{"company":"Hexaview Technologies","pointer":"NC","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":9.0,"date":1630886400000,"investment":0.0},{"company":"Druva","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":12.0,"date":1633478400000,"investment":0.0},{"company":"64squares","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":0,"male":0,"female":1,"total":1,"salary":7.5,"date":1623715200000,"investment":7.5},{"company":"Anchanto","pointer":"6.00","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":7.5,"date":1624147200000,"investment":0.0},{"company":"Moxie","pointer":"7.00","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":9.6,"date":1624233600000,"investment":0.0},{"company":"Unschool","pointer":"NC","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":5.0,"date":1624492800000,"investment":0.0},{"company":"PharmEasy","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":11.0,"date":1615075200000,"investment":0.0},{"company":"SAS","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":1,"male":1,"female":0,"total":1,"salary":7.38,"date":1628726400000,"investment":7.38},{"company":"Jio","pointer":"6.82","branch":"All (UG)","CE":1,"ENTC":0,"IT":0,"male":1,"female":0,"total":1,"salary":5.0,"date":1637884800000,"investment":5.0},{"company":"PublicisSapient","pointer":"7.82","branch":"All (UG)","CE":0,"ENTC":3,"IT":0,"male":2,"female":1,"total":3,"salary":6.5,"date":1639958400000,"investment":19.5},{"company":"Capgemini","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":6,"IT":0,"male":5,"female":1,"total":6,"salary":3.8,"date":1598659200000,"investment":22.8},{"company":"Persistent","pointer":"6.82","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":3,"male":3,"female":1,"total":4,"salary":4.51,"date":1583712000000,"investment":18.04},{"company":"Persistent","pointer":"6.82","branch":"E&TC (UG)","CE":0,"ENTC":10,"IT":0,"male":6,"female":4,"total":10,"salary":4.51,"date":1615680000000,"investment":45.1},{"company":"Accenture","pointer":"7.38","branch":"All (UG)","CE":6,"ENTC":11,"IT":6,"male":10,"female":13,"total":23,"salary":4.5,"date":1600732800000,"investment":103.5},{"company":"TCS Ninja","pointer":"7.95","branch":"All (UG)","CE":1,"ENTC":5,"IT":1,"male":3,"female":4,"total":7,"salary":3.36,"date":1586476800000,"investment":23.52},{"company":"NTT Data","pointer":"6.82","branch":"CE & IT (UG)","CE":1,"ENTC":0,"IT":0,"male":0,"female":1,"total":1,"salary":3.5,"date":1602720000000,"investment":3.5},{"company":"Cognizant","pointer":"6.82","branch":"All (UG)","CE":6,"ENTC":14,"IT":6,"male":19,"female":7,"total":26,"salary":4.01,"date":1602720000000,"investment":104.26},{"company":"Vodafone","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":8,"IT":2,"male":6,"female":4,"total":10,"salary":4.25,"date":1605657600000,"investment":42.5},{"company":"Winjit Technologies","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":1,"male":0,"female":1,"total":1,"salary":4.5,"date":1578787200000,"investment":4.5},{"company":"Endurance International","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":1,"male":0,"female":1,"total":1,"salary":3.72,"date":1605139200000,"investment":3.72},{"company":"Ernst","pointer":"7.95","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":4.37,"date":1630454400000,"investment":0.0},{"company":"Sell","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":4.0,"date":1610755200000,"investment":0.0},{"company":"Kylas","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":4.0,"date":1610755200000,"investment":0.0},{"company":"Centiro","pointer":"7.00","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":3.8,"date":1611100800000,"investment":0.0},{"company":"Eumentis Cloud","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":1,"male":1,"female":1,"total":2,"salary":4.07,"date":1638403200000,"investment":8.14},{"company":"Yardi","pointer":"6.59","branch":"All (UG)","CE":7,"ENTC":11,"IT":7,"male":10,"female":15,"total":25,"salary":4.5,"date":1613779200000,"investment":112.5},{"company":"Infosys","pointer":"6.82","branch":"All (UG)","CE":2,"ENTC":2,"IT":0,"male":1,"female":3,"total":4,"salary":3.5,"date":1613865600000,"investment":14.0},{"company":"Amura","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":1,"male":1,"female":1,"total":2,"salary":4.5,"date":1633219200000,"investment":9.0},{"company":"Sagitec","pointer":"6.82","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":2,"male":1,"female":1,"total":2,"salary":4.0,"date":1635897600000,"investment":8.0},{"company":"e-Zest","pointer":"6.59","branch":"All (UG)","CE":0,"ENTC":0,"IT":1,"male":0,"female":1,"total":1,"salary":3.2,"date":1615852800000,"investment":3.2},{"company":"Agiliad","pointer":"7.38","branch":"All (UG)","CE":3,"ENTC":7,"IT":2,"male":5,"female":7,"total":12,"salary":4.0,"date":1615939200000,"investment":48.0},{"company":"Atos","pointer":"6.82","branch":"All (UG)","CE":1,"ENTC":3,"IT":2,"male":3,"female":3,"total":6,"salary":3.1,"date":1616198400000,"investment":18.6},{"company":"Rudder Analytics","pointer":"6.25","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":4.0,"date":1625356800000,"investment":0.0},{"company":"Product Dossier","pointer":"6.82","branch":"CE & IT (UG)","CE":2,"ENTC":0,"IT":4,"male":3,"female":3,"total":6,"salary":3.5,"date":1625356800000,"investment":21.0},{"company":"Talentio","pointer":"5.68","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":3.0,"date":1619049600000,"investment":0.0},{"company":"Flo Group","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":4,"IT":0,"male":2,"female":2,"total":4,"salary":3.5,"date":1609804800000,"investment":14.0},{"company":"HCL Technologies","pointer":"8.52","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":3.5,"date":1617580800000,"investment":0.0},{"company":"IntegriChain Inc","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":3.0,"date":1628121600000,"investment":0.0},{"company":"Aligned Automation","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":2,"IT":0,"male":2,"female":0,"total":2,"salary":3.75,"date":1621382400000,"investment":7.5},{"company":"IGT Solutions","pointer":"7.38","branch":"CE & IT (UG)","CE":0,"ENTC":0,"IT":0,"male":0,"female":0,"total":0,"salary":4.0,"date":1621468800000,"investment":0.0},{"company":"Zocdoc","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":1,"IT":0,"male":1,"female":0,"total":1,"salary":4.8,"date":1621987200000,"investment":4.8},{"company":"iQ Digital","pointer":"6.82","branch":"All (UG)","CE":0,"ENTC":0,"IT":1,"male":0,"female":1,"total":1,"salary":4.0,"date":1622073600000,"investment":4.0},{"company":"JISA Softech","pointer":"NC","branch":"All (UG)","CE":0,"ENTC":1,"IT":0,"male":1,"female":0,"total":1,"salary":4.0,"date":1617753600000,"investment":4.0}]'

In [41]:
with open("2021page2.json","w") as json_file:
    json_file.write(json_data)